<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ticket Submission Confirmation</title>
</head>
<body>
Hello {{ user.first_name }},
Your ticket had been successfully submitted.
You can find a summary below:

<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center">
            Location: {{ ticket.location }}
        </td>
    </tr>
    <tr>
        <td align="center">
            Category: {{ ticket.category }}
        </td>
    </tr>
    <tr>
        <td align="center">
            Description: {{ ticket.description }}
        </td>
    </tr>
    <tr>
        <td align="center">
            IP Address: {{ ticket.ipAddress }}
        </td>
    </tr>
</table>
</body>
</html>