{% extends "userportal/header.html" %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tickets/css/grid.css' %}" type="text/css"/>
<style>
    .col-4 {
        color: red;
    }
</style>

{% block content %}
    {% if latest_ticket_list %}
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="nav-item dropdown form-group">
                    <button class="btn btn-secondary nav-link dropdown-toggle" id="dropdown-filter"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">Filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown-filter">
                        <a class="dropdown-item" href="?show_completed=True">Show Completed Tickets</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-stripped">
                    <thead class="thead-light">
                    <th><a href="?order_by=-name">Name</a></th>
                    <th>Description</th>
                    <th><a href="?order_by=-submissionDate">Date Submitted</a></th>
                    <th><a href="?order_by=-priority">Priority</a></th>
                    <th><a href="?order_by=-status">Status</a></th>
                    </thead>
                    <tbody>
                    {% for ticket in latest_ticket_list %}
                        <tr>
                            <td><a href="/ticket/{{ ticket.id }}/">{{ ticket.name }}</a></td>
                            <td><p>{{ ticket.description }}</p></td>
                            <td>{{ ticket.submissionDate }}</td>
                            <td>{{ ticket.priority }}</td>

                            <td>{% include 'tickets/status_dropdown.html' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>No tickets to show.</p>
    {% endif %}

{% endblock %}