{% extends "userportal/header.html" %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'tickets/css/grid.css' %}" type="text/css"/>

{% block content %}

    <h4>Please verify this information is correct:</h4>

    <form action="/ticket/open/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">

            {{ form.as_table }}

            <tr>
                <th>File Upload:</th>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fileModal">
                        Attach File
                    </button>

                </td>
            </tr>

        </table>
        <input type="submit" value="Submit"/>


        {% include 'tickets/file_modal.html' %}

    </form>



{% endblock %}
--/>