<!DOCTYPE html>
<html lang="en">

<head>
    <title>Helpdesk</title>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'userportal/css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'userportal/css/header.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'userportal/css/open-iconic/font/css/open-iconic-bootstrap.css' %}"
          type="text/css">

    <script src="{% static 'userportal/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="{% static 'userportal/js/jquery-3.2.1.min.js' %}"><\/script>')</script>


</head>


<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="">Helpdesk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/ticket/open/">Get Help!</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="www.example.com">Knowladge Base</a>
            </li>
            <li class="nav-item">
                {% if perms.tickets.can_edit_tickets %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown01"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">Tickets</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="{% url 'tickets_index' %}">View All</a>
                            <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown02"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">Users</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="{% url 'user_management' %}">Manage Users</a>
                            <a class="dropdown-item" href="{% url 'add_user' %}">Add User</a>
                        </div>
                    </li>
                {% endif %}
        </ul>

        {% if user.is_authenticated %}
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'preferences' %}">{{ user.username }}</a>
                </li>
                <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}?next={{ request.path }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </ul>
        {% else %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}?next={{ request.path }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            </form>
        {% endif %}

    </div>
</nav>

<main role="main" class="container">

    <div>
        {% block content %}
        {% endblock %}
    </div>

</main><!-- /.container -->


<script src="{% static 'userportal/js/popper.js' %}" type="text/javascript"></script>
<script src="{% static 'userportal/js/bootstrap.min.js' %}" type="text/javascript"></script>

</body>

</html>